@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Hi There ¡! Welcome to...</h2>
    <h1>MyChatRoom</h1>
    <p>Play Now ¡! <a href="~/Chat/index">Rooms -></a>.</p>
</div>
